#service_detail_hero {
    padding-top: 135px;
    background: url(../../images/single_service/bg.svg) no-repeat;
    overflow-x: hidden;
}

.service_hero_image img {
    position: relative;
    right: 0;
    margin-left: 173px;
    overflow: hidden;
}

#service_rolling_btns {
    position: relative;
    top: -130px;
}

.service_detail_title_box {
    padding-bottom: 30px;
}


.question_circle {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.question_circle h3 {
    font-size: 29px;
}

.roll_bar_long div{
    padding: 25px
}

#choose_any_tech {
    background: #f4f4f4;
    padding: 100px 0;
}

.service_tech_card {
    background: #fff;
    padding: 30px;
    box-shadow: 0 0px 46px rgba(98, 100, 99, 0.23);
    border-radius: 5px;
    border-bottom: 5px solid var(--greenish-primary);
}

.tech_card__top img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0 0 23px rgba(0, 0, 0, .2);
    border-radius: 50%;
}

.feature_boxes {
    padding-left: 30px;
}

.feature_boxes div {
  padding: 4px 0;
}

.feature_boxes div i {
    margin-right: 5px;
}

#pricing_hero {
    background: linear-gradient(0deg,rgba(255,0,150,0.3),rgba(255,0,150,0.3)),url(../../images/single_service/money.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 150px 0 300px 0;
}

#pricing_hero h2 {
    font-size: 64px;
    font-weight: 700;
    text-shadow: 0px 0px 3px #fff;
    letter-spacing: 34px;
    word-spacing: 6px;
    text-transform: uppercase;
}


div#pricing_card_container {
    position: relative;
    top: -144px;
}

#service_prices__inner {
    background: url(../../images/single_service/leaf.png) no-repeat;
}

.service_price_card {
    background: aliceblue;
    padding: 30px 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border-radius: 8px;
}

.service_price_card h3 {
    font-weight: 700;
    padding-bottom: 21px;
    text-align: center;
    color: var(--greenish-primary);
}

th, td {
    padding: 5px;
    border-bottom: 1px solid #dedede;
}
th i {
    margin-right: 5px;
}
th:last-child, td:last-child {
    border-bottom: 5px solid green;
}


